/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');


/* Beispiel für die einfache Einbindung eines Farbschema, generiert auf coolors.co */
:root {
    --turquoise-green: #b9e3c6ff;
    --ocean-green: #59c9a5ff;
    --ruby: #d81e5bff;
    --prussian-blue: #23395bff;
    --canary: #fffd98ff;
    --snow: #f7f2f4ff;
    --jet: #343434ff;
}


.hidden {
    display: none !important;
}

body {
    background-color: var(--snow);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.ui {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
}

.ui h1 {
    text-align: center;
    color: var(--jet);
}

.ui .content {
    display: flex;
    flex-direction: row;
}

.ui .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.ui .login label {
    width: 15vw;
    text-align: center;
}

.ui .login input {
    width: 15vw;
    margin: 1vw;
}

.ui .game {
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.ui .game .light {
    display: block;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: var(--jet);
}

.ui .game .light:hover {
    cursor: pointer;
    opacity: 0.75 !important;
}

.ui .game .light.red {
    background-color: var(--ruby) !important;
}

.ui .game .light.green {
    background-color: var(--ocean-green) !important;
}

.ui .game .light.blue {
    background-color: var(--prussian-blue) !important;
}

.ui .game .light.deactivated {
    opacity: 0.2;
}

.status {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 98vw;
    padding: 1vw;
    height: 5vh;
    background-color: var(--jet);
    color: var(--snow);
    line-height: 5vh;
}
